.add-task-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-task-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  font-size: 16px;
}

.add-task-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-task-button:hover {
  background-color: #3e8e41;
}
